<div id="main">
<ul>
  <h1>LOS Reviews </h1>
    <li><h1><%=link_to @review.review, '/'%> <h1>
   added <%=distance_of_time_in_words DateTime.now, @review.created_at  %> ago
    


</p>

</ul>
</div>

